<nav id="sidebar">
  <img src="{{ site.baseurl }}/public/favicons/favicon-310.png" style="width: 50%; display: block; margin-bottom: 10px;" alt="Fibonacci Spiral">
  <span class="title"><a href="{{ site.baseurl }}/">{{ site.title }}</a></span>
  <ul class="links">
    <li><a href="{{ site.baseurl }}/">home</a></li>
    <li><a href="{{ site.baseurl }}/about">about</a></li>
    <li><a href="{{ site.baseurl }}/archive">archive</a></li>
    <li><a href="{{ site.baseurl }}/public/cv.pdf">cv</a></li>
  </ul>
  <ul class="networks">
    <li><a href="{{ site.author.github }}" class="fa fa-github"></a></li>
    <li><a href="{{ site.author.keybase }}" class="fa fa-key"></a></li>
  </ul>
</nav>
