* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
  border-left: 6px solid #0a8;
  font-family: "lato", "Helvetica", "Arial", sans-serif;
  color: #444;
}

body {
  max-width: 920px;
  min-height: 100vh;
  margin: 0 auto;
}

a {
  text-decoration: none;
  &:hover,
  &:active {
    @include transition(color 0.2s ease);
    color: darken(#0a8, 5%);
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 6px;
  right: 0;
  bottom: 0;
  z-index: -10;
}
